* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
    position: relative;
}



header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 30px 0;
    border-right: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    
}

header .navbar .logo {
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.svg_logo{
    margin-right: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

span {
    padding: 15px;
}

.profile img {
    border-radius: 15px;
    margin-left: 40px;
    
}

.profile_logo{
    margin-left: 8px;
}



header .navbar ul li {
    padding: 20px 20px;
    list-style: none;
    margin-left: 20px;
}

header .navbar ul li a,
.menu a {
    color: black;
    text-decoration: none;
}

header .navbar ul li a .fa,
.menu a .fa,
.profile img a{
    width: 30px;
}

header .navbar ul li:hover,
.profile:hover {
    background-color: rgba(240, 236, 236, 0.349);
    border-radius: 30px;
    margin: 0px 10px;
}

header .navbar .menu {
    /* position: fixed; */
   display: flex;
   margin-top: 120px;
   margin-left: 30px;
   align-items: center;
}

header .navbar .menu a .fa{
    height: 40px;
}


main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    padding: 40px 0;

}

.container {
    width: 60%;
    max-width: 55%;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 650px 500px;
}

/* .container{
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    
    flex-grow: 1;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
} */

.left-col {
    /* width: 90%; */
    display: flex;
    flex-direction: column;
}

.reels-container {
    width: 100%;
    height: 160px;
    background: #fff;
    /* justify-content: center; */
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.reels-container::-webkit-scrollbar{
    display: none;
}

.reels {
    flex: 0 0 auto;
    width: 200px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}


.user-info .profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.username {
    width: 100%;
    overflow: hidden;
    /* justify-content: left; */
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
    color: #AF9280;
    cursor: pointer;
   /* font-weight: lighter; */
}

.user-info .username p{
    width: 100%;
    overflow: hidden;
    text-align: start;
    font-size: 12px;
    /* margin-top: 5px; */
    color: #7F8F93;
    cursor: pointer;
}



.post {
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dbdbdb;
    margin-top: 20px;
} 

.post-content {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;
}

.post-content svg{
    cursor: pointer;
}

.article{
    margin: 12px;
}

.likes {
    font-weight: bold;
}

.description {
    display: block;
    align-items: center;
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
}

.description span{
    font-weight: bold;
    margin-right: 5px;
}

.post-time,
.view-time {
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
    cursor: pointer;
}

.view-time {
    margin: 8px 0;
    font-size: 14px;
}

.post-content .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.post-content svg,
.comment-wrapper svg {
    
    height: 30px;
    cursor: pointer;
}

.post-content .user-info {
display: flex;
align-items: center;
}

.post-content .profile-pic {
    width: 40px;
    height: 40px;

}

.post-content .profile-pic img {
    border: none;
}

.post-image {
    flex: 1 1 100px;
    display: flex;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.comment-wrapper {
    margin-left: 12px;
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

span a{
    text-decoration: none;
}


.comment {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

 .btn,
.action-btn, 
.follow-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgba(0, 162, 255, .5);
    cursor: pointer;
}

.reactions {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.reactions .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;
    color: black;
    cursor: pointer;
}

.reactions .save{
    margin-left: auto;
}

.right-col {
    /* width: 400px; */
    padding: 20px;
}

.profile-card, 
.suggestion-card{
    width: 450px;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic {
    flex: 0 0 auto;
    background: none;
    padding: 0;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.profile-card:first-child .profile-pic {
    width: 70px;
    height: 70px;
}

.profile-card .profile-pic img {
    border: none;
    width: 70px;
    height: 70px;
}

.profile-card .username, .suggestion-card .username {
    font-weight: 500PX;
    font-size: 14px;
    color: #000;
    margin-bottom: 0;
}

.profile-card .sub-text, .suggestion-card .sub-text {
    color: #000;
    font-size: 12px;
    font-weight: 500px;
    margin-top: 2px;
    margin-bottom: 0;
}


.action-btn, .follow-btn {
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

.suggestions {
    display: flex;
    align-items: center;
    /* justify-content:space-between; */
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
    margin: 15px 0;
    gap: 100px;
}

.suggestions a{
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    /* color: #B0B8B3; */
}

.links ul{
    display: grid;
    grid-template-columns: repeat(8,55px);
    /* font-size: 12px; */
    margin: 20px 0;
    width: 100%;
    /* padding: 5px; */
    border: 0;
    flex-grow: 1;
    font: inherit;
    font-size: 100%;
    gap: 5px;
    padding: 0;
    vertical-align: baseline
}

.links li a{
    color: #dbdbdb;
    font-size: 14px;
}

.links  a {
    text-decoration: none;
}

.links li {
    color: #dbdbdb;
}

.copyright{
    margin-top: 5px;
    text-transform: uppercase;
    color: #dbdbdb;
    font-size: 14px;
}

.suggestion-card .suggestion-pic{
flex: 0 0;
padding: 0;
background: none;
width: 50px;
height: 50px;
margin-right: 10px;
}

.suggestion-card .suggestion-pic img{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.suggestion-text{
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    font-weight: 700;
    margin: 20px 0;
}